@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background-color: #27213c;
  color: white;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body{
  size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

#main-header{
  display:flex;
  color: white;
  justify-content: space-between;
  padding: 1.5em;
  font-size: 1.5em;
}

ul{
  display: flex;
  gap: 1em;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:aqua
}

/* This is for the sticky header*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#hero-section{
  color: white;
  display: flex;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}

.about-title{
  color:white;
  display:flex;
  margin: 32px;
  justify-content: center;
  font-size: 2.5em;
}

#about-me{
  display: flex;
  color:white;
  margin: 64px;
  justify-content: center;
  text-align: center;
}

#about-me .about{
  width: 400px;
  margin: 0 50px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
}
#about-me .hobbies{
  width: 400px;
  margin: 0 50px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;

}

#about-me .practice{
  width: 400px;
  margin: 0 50px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
}

#skills{
  color:white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px;
}

#skills img{
  height: 100px;
  width: 100px;
}
.skills-title{
  color:white;
  text-align: center;
  margin: 60px;
  font-size: 2.5em;
}

.work-title{
  display: flex;
  background-color: #27213c;
  color:white;
  margin: 65px;
  justify-content: center;
  font-size: 2.5em;
}

#projects{
  display: flex;
  background-color: #27213c;
  justify-content: space-around;
  color:white;
  text-align: center;
  margin: 65px;
}

#projects .project{
  border: 1px solid white;
  width: 450px;
  height: 300px;
  padding: 12px;
  border-radius: 20px;
}

.project button{
  background-color: #27213c;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5em;
  color:white;
  margin:30px;
}

.contact-title{
  background-color: #27213c;
  display: flex;
  justify-content: center;
  color: white;
  margin: 50px;
  font-size: 2.5em;
}
#contact-info{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #27213c;
  margin: 32px;
  color: white;
}

#contact-info .container{
  justify-content: center;
  font-size: 1.5em; 
  overflow-wrap: wrap;
  width: 600px; 
}
#contact-info i{
  margin: 10px;
  font-size: 2.5em;
}

#main-footer{
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin: 32px;
}


